{% extends "base.html" %}

{% block container %}
    <div id="app">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
  <div class="float-left">
  <h1>Active Assets</h1>
  </div>
  <div class="float-right">
  <a href="{% url 'add_asset' %}" class="btn btn-primary mt-2" role="button" aria-disabled="true"><i class="fas fa-plus"></i> Add Asset</a>
  </div>
  <div class="clearfix"></div>
</div>

                <p>todo add filter</p>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Details</th>
                        <th scope="col">Owner</th>
                    </tr>
                    </thead>
                    <tbody v-cloak>
                    <tr v-for="asset in assets">
                        <td><a v-bind:href="asset.view_url"><% asset.id %></a></td>
                        <td><% asset.type %></td>
                        <td><% asset.metadata %></td>
                        <td><% asset.owner %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
            integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>

    <script type="application/javascript">
        const app = new Vue({
            delimiters: ["<%", "%>"],
            el: '#app',
            data: {
                assets: []
            },
            mounted: async function () {
                let resp = await axios.get('/api/asset')
                if (resp.status === 200) {
                    console.log('assigning items')
                    for (let item of resp.data.items) {
                        console.log(this.assets)
                        this.assets.push(item)
                    }
                }
            }
        })
    </script>
{% endblock %}