{% extends "base.html" %}

{% block container %}
    <div id="app">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="float-left">
                        <h1>Active Assets</h1>
                    </div>
                    <div class="float-right">
                        <a href="{% url 'add_asset' %}" class="btn btn-primary mt-2" role="button" aria-disabled="true"><i
                                class="fas fa-plus"></i> Add Asset</a>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="table-filter">
                    <form>
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" v-model="search" aria-describedby="search">
  </div>
</form>
                </div>

                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Type</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Serial</th>
                        <th scope="col">Details</th>
                    </tr>
                    </thead>
                    <tbody v-cloak>
                    <tr v-for="asset in searchFilter">
                        <td><a v-bind:href="asset.view_url"><% asset.id %></a></td>
                        <td><% asset.type %></td>
                        <td><% asset.owner %></td>
                        <td><% asset.serial %></td>
                        <td><% asset.metadata %></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
            integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>

    <script type="application/javascript">
        function search(needles, haystack) {
            for (let needle of needles) {
                if (haystack.includes(needle)) {
                    return true
                }
            }
            return false
        }

        const app = new Vue({
            delimiters: ["<%", "%>"],
            el: '#app',
            data: {
                assets: [],
                search: ''
            },
            computed: {
                searchFilter() {
                    let result = []
                    let needles = this.search.trim().toLowerCase().split(/[ ]+/);

                    for (let item of this.assets) {
                        if (this.search.trim() === '') {
                            result.push(item)
                            continue
                        }

                        let haystack = [
                            item.id.toLowerCase(), item.type.toLowerCase(),
                            item.metadata.toLowerCase(), item.owner.toLowerCase(),
                            item.serial.toLowerCase()
                        ].join(" ")

                        if (search(needles, haystack)) {
                            result.push(item)
                        }
                    }

                    return result
                }
            },
            mounted: async function () {
                let resp = await axios.get('/api/asset')
                if (resp.status === 200) {
                    for (let item of resp.data.items) {
                        this.assets.push(item)
                    }
                }
            }
        })
    </script>
{% endblock %}