{% extends "base.html" %}

{% block container %}
    <div id="app">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <div class="float-left">
                        <h1>Azure Assets</h1>
                    </div>
                    <div class="float-right"></div>
                    <div class="clearfix"></div>
                </div>

                <h2>Virtual Machines</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for vm in resources.vms %}
                    <tr>
                        <td>{{ vm.name }}</td>
                        <td>{{ vm.hardware_profile.vm_size }}</td>
                        <td>{{ vm.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>Postgres</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sql in resources.postgres %}
                    <tr>
                        <td>{{ sql.name }}</td>
                        <td>{{ sql.sku.name }}</td>
                        <td>{{ sql.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>Redis</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for redis in resources.redis %}
                    <tr>
                        <td>{{ redis.name }}</td>
                        <td>{{ redis.sku.name }} {{ redis.sku.family }}{{ redis.sku.capacity }}</td>
                        <td>{{ redis.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>KeyVault</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for kv in resources.keyvault %}
                    <tr>
                        <td>{{ kv.name }}</td>
                        <td>-</td>
                        <td>{{ kv.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>Front Door</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fd in resources.frontdoor %}
                    <tr>
                        <td>{{ fd.name }}</td>
                        <td>-</td>
                        <td>{{ fd.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2>Firewall</h2>
                <table class="table">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Region</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for fw in resources.firewall %}
                    <tr>
                        <td>{{ fw.name }}</td>
                        <td>{{ fw.sku.tier }}</td>
                        <td>{{ fw.location }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
            integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>


{% endblock %}