[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<4.0"
mozilla-django-oidc = "*"
django-prometheus = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"

[dev-packages]
black = "==21.11b1"
flake8 = "*"
mypy = "*"
pytest = "*"
ptpython = "*"
xenon = "*"
isort = "*"

[requires]
python_version = "3.9"
